ul.list {
	list-style: none;
	padding: 4px 6px;
}
.list .list-item {
	padding: 8px 12px;
	border: 1px solid #cccccc;
}
.list-item:nth-child(even) {
	border-top: 0;
	border-bottom: 0;
}
.list-item:last-child:not(:nth-child(odd)) {
	border-bottom: 1px solid #cccccc;
}
.list-item:first-child {
	border-radius: 4px 4px 0 0;
}
.list-item:last-child {
	border-radius: 0 0 4px 4px;
}
.list-item:hover {
	background-color: #edd;
}