:root {
	--base-font-size: 10px;
	--theme-color: #8a2be2;
	--min-margin: 10px;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-size: 10px;
	font-family: Comfortaa, Arial, Helvetica, sans-serif;
	width: 100%;
}
.h1 {
	font-size: calc(var(--base-font-size) * 4.1);
}
.h2 {
	font-size: calc(var(--base-font-size) * 3.3);
}
.h3 {
	font-size: calc(var(--base-font-size) * 2.8);
}
.h4 {
	font-size: calc(var(--base-font-size) * 2);
}
.h5 {
	font-size: calc(var(--base-font-size) * 1.6);
}
.h6,
p,
label {
	font-size: calc(var(--base-font-size) * 1.4);
}
li {
	font-size: inherit;
}
/* Margins and Paddings */
.m-1 {
	margin: calc(var(--min-margin) * 1);
}
.m-2 {
	margin: calc(var(--min-margin) * 2);
}
.m-3 {
	margin: calc(var(--min-margin) * 3);
}
.m-4 {
	margin: calc(var(--min-margin) * 4);
}
.m-5 {
	margin: calc(var(--min-margin) * 5);
}
.ml-1 {
	margin-left: calc(var(--min-margin) * 1);
}
.ml-2 {
	margin-left: calc(var(--min-margin) * 1.5);
}
.ml-3 {
	margin-left: calc(var(--min-margin) * 2);
}
.ml-4 {
	margin-left: calc(var(--min-margin) * 2.5);
}
.ml-5 {
	margin-left: calc(var(--min-margin) * 3);
}
.mr-1 {
	margin-right: calc(var(--min-margin) * 1);
}
.mr-2 {
	margin-right: calc(var(--min-margin) * 1.5);
}
.mr-3 {
	margin-right: calc(var(--min-margin) * 2);
}
.mr-4 {
	margin-right: calc(var(--min-margin) * 2.5);
}
.mr-5 {
	margin-right: calc(var(--min-margin) * 3);
}
.mt-1 {
	margin-top: calc(var(--min-margin) * 1);
}
.mt-2 {
	margin-top: calc(var(--min-margin) * 1.5);
}
.mt-3 {
	margin-top: calc(var(--min-margin) * 2);
}
.mt-4 {
	margin-top: calc(var(--min-margin) * 2.5);
}
.mt-5 {
	margin-top: calc(var(--min-margin) * 3);
}

/* Utilities */
.container {
	padding: 16px;
	margin: auto;
}

.bg-blue {
	background-color: #8a2be2;
}
.bg-theme {
	background-color: var(--theme-color);
}
.text-theme {
	color: var(--theme-color);
}
.text-white {
	color: #ffffff;
}
.text-center {
	text-align: center;
}

/* Lists */
ul.list {
	list-style: none;
	padding: 4px 6px;
}
.list .list-item {
	padding: 8px 12px;
	border: 1px solid #cccccc;
}
.list-item:nth-child(even) {
	border-top: 0;
	border-bottom: 0;
}
.list-item:last-child:not(:nth-child(odd)) {
	border-bottom: 1px solid #cccccc;
}
.list-item:first-child {
	border-radius: 4px 4px 0 0;
}
.list-item:last-child {
	border-radius: 0 0 4px 4px;
}
.list-item:hover {
	background-color: #edd;
}

/* Links */
a {
	color: inherit;
}

/* Buttons */
.btn {
	padding: 7px 11px;
	border-radius: 4px;
	border: 0;
}
.btn-theme {
	background-color: #8a2be2;
	color: #ffffff;
}
.btn:hover {
	opacity: 0.9;
}

/* Code Box */
.code {
	position: relative;
	font-size: calc(var(--base-font-size) * 1.05);
	margin-top: 15px;
	background-color: #000000;
	color: #ffffff;
	padding: 8px;
	max-width: 100%;
}
.code pre {
	max-width: 100%;
	overflow-x: auto;
}
.code pre::-webkit-scrollbar {
	background-color: #ddd;
	height: 5px;
	opacity: .4;
}
#copy-code {
	position: relative;
	left: 100%;
	margin-left: -50px;
	margin-bottom: 10px;
	font-size: 1em;
	height: 25px;
}

/* Page footer */
#directions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

code {
	background-color: #eee;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 2px;
	margin-right: 2px;
	font-family: 'Courier New', Courier, monospace;
	border-radius: 2px;
}